./target
./end-to-end
/data.sqld

# ignore sqlite3 artifacts

libsql-sqlite3/.libs/
libsql-sqlite3/.target_source
libsql-sqlite3/.vscode/
libsql-sqlite3/Makefile
libsql-sqlite3/autom4te.cache/
libsql-sqlite3/config.h
libsql-sqlite3/config.log
libsql-sqlite3/config.status
libsql-sqlite3/fts5.c
libsql-sqlite3/fts5.h
libsql-sqlite3/fts5parse.c
libsql-sqlite3/fts5parse.h
libsql-sqlite3/fts5parse.out
libsql-sqlite3/fts5parse.sql
libsql-sqlite3/fts5parse.y
libsql-sqlite3/keywordhash.h
libsql-sqlite3/lemon
libsql-sqlite3/lempar.c
libsql-sqlite3/libsqlite3.la
libsql-sqlite3/liblibsql.la
libsql-sqlite3/libtclsqlite3.la
libsql-sqlite3/libtool
libsql-sqlite3/mkkeywordhash
libsql-sqlite3/mksourceid
libsql-sqlite3/opcodes.c
libsql-sqlite3/opcodes.h
libsql-sqlite3/parse.c
libsql-sqlite3/parse.h
libsql-sqlite3/parse.out
libsql-sqlite3/parse.sql
libsql-sqlite3/parse.y
libsql-sqlite3/shell.c
libsql-sqlite3/sqlite3
libsql-sqlite3/sqlite3.c
libsql-sqlite3/sqlite3.h
libsql-sqlite3/sqlite3.lo
libsql-sqlite3/sqlite3.o
libsql-sqlite3/sqlite3.pc
libsql-sqlite3/libsql.pc
libsql-sqlite3/sqlite3ext.h
libsql-sqlite3/sqlite3session.h
libsql-sqlite3/tclsqlite.lo
libsql-sqlite3/tclsqlite.o
libsql-sqlite3/testdir/
libsql-sqlite3/tsrc/
libsql-sqlite3/dbhash
libsql-sqlite3/fuzzcheck
libsql-sqlite3/sessionfuzz
libsql-sqlite3/sqldiff
libsql-sqlite3/sqlite3_analyzer
libsql-sqlite3/sqlite3_analyzer.c
libsql-sqlite3/sqlite_cfg.h
libsql-sqlite3/sqltclsh
libsql-sqlite3/sqltclsh.c
libsql-sqlite3/srcck1
libsql-sqlite3/test-out.txt
libsql-sqlite3/test/rust_suite/target
libsql-sqlite3/test/rust_suite/Cargo.lock
libsql-sqlite3/testfixture
libsql-sqlite3/libsql
libsql-sqlite3/src-verify
libsql-sqlite3/crates/target/

libsql-ffi/bundled/SQLite3MultipleCiphers/build
