/target
.vscode/
.idea/
*.sqld

libsql-server/testrollbackrestore/**
libsql-server/testbackuprestore/**
libsql-sqlite3/**.o.tmp
/libsql-ffi/bundled/SQLite3MultipleCiphers/build/**
# will be copied from bundled/src
/libsql-ffi/bundled/SQLite3MultipleCiphers/src/sqlite3.c

/bindings/c/generated
/bindings/c/**.xcframework
/bindings/**/.DS_Store