[workspace]

members = [
    "sqlc",
    "sqld",
]

[patch."https://github.com/psarna/mvsqlite"]
mvfs = { git = "https://github.com/MarinPostma/mvsqlite", branch = "use-cchar" }
mwal = { git = "https://github.com/MarinPostma/mvsqlite", branch = "use-cchar" }

[patch.crates-io]
sqlite3-parser = { git = "https://github.com/MarinPostma/lemon-rs", rev = "2a35ad33853b9f9550e1a8b2e6ae9a5c30e1e984" }
