language: rust
sudo: false

env:
    global:
        secure: "FyGzHF0AIYdBcuM/2qIoABotx3MbNAlaHDzxPbbeUlVg64bnuib9G9K/qWve0a1BWCgv+8e/SbXZb7gt3JlUNE27aE4RZG4FEdtEpLYQp87Dc9d9HX0FwpUeFK3binsrtYl4WEBnIjQ3ICnUVey0E6GHEdkM+t5bWyJO5c4dJ30="

script:
    - cargo build
    - cargo test
    - cargo test --features backup
    - cargo test --features load_extension
    - cargo test --features trace
    - cargo test --features functions
    - cargo test --features cache
    - cargo test --features "backup functions load_extension trace cache"
    - cargo doc --no-deps --features "backup functions load_extension trace cache"

after_success: |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    echo '<meta http-equiv=refresh content=0;url=rusqlite/index.html>' > target/doc/index.html &&
    sudo pip install ghp-import &&
    ghp-import -n target/doc &&
    git push -fq https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages
