language: rust
sudo: false

script:
    - cargo build
    - cargo test
    - cargo test --features backup
    - cargo test --features blob
    - cargo test --features load_extension
    - cargo test --features trace
    - cargo test --features functions
    - cargo test --features cache
    - cargo test --features chrono
    - cargo test --features serde_json
    - cargo test --features "backup blob cache chrono functions load_extension serde_json trace"
