language: rust
sudo: false

script:
    - cargo build
    - cargo build --features bundled
    - cargo test
    - cargo test --features backup
    - cargo test --features blob
    - cargo test --features load_extension
    - cargo test --features trace
    - cargo test --features functions
    - cargo test --features chrono
    - cargo test --features serde_json
    - cargo test --features bundled
    - cargo test --features "backup blob chrono functions load_extension serde_json trace"
    - cargo test --features "backup blob chrono functions load_extension serde_json trace bundled"
    - cargo test --features "csvtab functions vtab"
    - cargo test --features "backup blob chrono csvtab functions load_extension serde_json trace vtab"
