.libs/
.target_source
.vscode/
/Makefile
autom4te.cache/
config.h
config.log
config.status
/fts5.c
/fts5.h
/fts5parse.c
/fts5parse.h
fts5parse.out
fts5parse.sql
/fts5parse.y
keywordhash.h
lemon
/lempar.c
libsqlite3.la
liblibsql.la
libtclsqlite3.la
libtool
mkkeywordhash
mksourceid
opcodes.c
opcodes.h
parse.c
parse.h
parse.out
parse.sql
/parse.y
shell.c
sqlite3
/sqlite3.c
/sqlite3.h
sqlite3.lo
sqlite3.o
sqlite3.pc
libsql.pc
/sqlite3ext.h
/sqlite3session.h
tclsqlite.lo
tclsqlite.o
testdir/
tsrc/
dbhash
fuzzcheck
sessionfuzz
sqldiff
sqlite3_analyzer
sqlite3_analyzer.c
sqlite_cfg.h
sqltclsh
sqltclsh.c
srcck1
test-out.txt
/test/rust_suite/target
/test/rust_suite/Cargo.lock
testfixture
libsql
/src-verify
/crates/target/
/has_tclsh*
/libsql.wasm
test_libsql_f16_table.h
test_libsql_f16
